%h1 
  =@page.name
  %ul
    -@album_photos.each do |album|
      %li
        = album[:album_name]
        %ul
          %li
            %div
              Likes Count:
            %div
              Image Link:
          - album[:photo].each_with_index do |photo,index|
            %li.row.odd
              %div#likes
                = photo[:likes_count]
              %div#link
                = link_to "#{photo[:photo_id]}",photo[:link]