%h1
  %ul{:style => "list-style:none; border: 1px solid black; border-radius: 5px; padding:0px;"}
    - @top_ten.each do |photo|
      %li{:style => "color:black; background-color:white; list-style:none; padding:0px;"}
        = photo[:likes_count]
        = link_to "#{photo[:photo_id]}",photo[:link]